<header>
	<div class="left-menu">
		<a [routerLink]="['./']">
			<img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/book-bookmark-icon.png">
		</a>
		<breadcrumbs *ngIf="!isLightUI"></breadcrumbs>
	</div>

	<div class="right-menu" *ngIf="!isLightUI">
    <a [routerLink]="['./login']" *ngIf="!isAuthenticatedUser">Login</a>
		<span class="username" *ngIf="isAuthenticatedUser">{{username}}</span>
		<a *ngIf="isAuthenticatedUser" (click)="logoff()">Logoff</a>
	</div>
</header>

