ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul:after {
  display: table;
  content: '';
  clear: both;
}

li {
  display: inline-block;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  cursor: pointer;
}

li.active {
  background: #000;
  color: #fff;
}
