<article class="course" highlight [date]="course.date">
	<div class="content">
		<header>
			<h2>{{course.title | uppercase}} <i class="material-icons star" *ngIf="course.topRated">star_rate</i></h2>
			<span class="duration">{{course.duration | duration}}</span>
			<span class="date">{{course.date | date:'fullDate'}}</span>
		</header>
		<p>{{course.description}}</p>
	</div>
	<div class="actions">
		<a [routerLink]="['/courses', course.id]" class="button dark">Edit course</a>
		<a class="button dark" delete-course (deleteCourse)="handleDeleteClick()"></a>
	</div>
</article>
