@import '../../../../styles/variables';

.cource {
  display: flex;
}

.actions {
  width: 300px;
  padding: 0 10px;


  a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #24292e;
    color: #d8dee2;
    padding: 0 10px;
    border: 0;
    margin-bottom: 10px;
  }
}

.cource {
  h2 {
    margin: 0;
    display: inline-block;
    &:after {
      content: "|";
      padding: 0 8px 0 15px;
    }
  }
  .date {
    float: right;
  }
  p {
    color: #a8a8a8;
  }
}

.cource {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.cource:after {
    content: '';
    display: block;
    height: 1px;
    width: 20%;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 40%;
}