.button {
  width: 100%;
  cursor: pointer;
  outline: none;
  display: block;
  border: 0;
  background: transparent;
  text-decoration: none;
  overflow: hidden;

  &.with-icon {
    display: flex;
    align-items: center;
    padding: 0 10px;

    i {
      margin-right: 10px;
      font-size: 1.5em;
    }
  }

  &.dark {
    color: #fff;
    background: $main-black;
    border: 1px solid $main-black;
    transition: all ease-out .25s;

    &:hover {
      background: #fff;
      color: $main-black;
      text-decoration: none;
    }
  }
}
