@import '../../../../styles/variables';

.search-wrapper {
  padding-right: 55px;
  position: relative;
  input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $main-black;
    line-height: 40px;
    outline: none;
    width: 100%;
  }
  button {
    height: 40px;
    text-align: center;
    background: $main-black;
    color: $gray-font-color;
    border: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}